<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Projects</title>
        <meta name='viewport' content='device-width' initial-scale='1.0' />
        <link rel="stylesheet" href="../../static/projects.css" />
        <link rel="stylesheet" href="../../static/blog.css" />
        <script src="https://kit.fontawesome.com/f08815db66.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="area">
            

            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a class="project-buttons" href="../projects.html"><span>Back to Projects</span></a>
            <h1 class="blog-container">Global Warming Blog</h1>

            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img src="../../project_pictures/log_in_mongodb_blog.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <img src="../../project_pictures/blog_3.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <img src="../../project_pictures/blog_2.png" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <img src="../../project_pictures/blog_mongodb.png" style="width:100%">
                </div>
                
            </div>
                <br>
                
                <div style="text-align:center">
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span>
                    <span class="dot"></span> 
                </div>

                <script>
                    let slideIndex = 0;
                    showSlides();
                    
                    function showSlides() {
                        let i;
                        let slides = document.getElementsByClassName("mySlides");
                        let dots = document.getElementsByClassName("dot");
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";  
                        }
                        slideIndex++;
                        if (slideIndex > slides.length) {slideIndex = 1}    
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";  
                        dots[slideIndex-1].className += " active";
                        setTimeout(showSlides, 5000); 
                        }
                </script>
        </div>
    </body>
</html>