<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Recycling Corp</title>
        <meta name='viewport' content='device-width' initial-scale='1.0' />
        <link rel="stylesheet" href="../../static/projects.css" />
        <link rel="stylesheet" href="../../static/blog.css" />
        <script src="https://kit.fontawesome.com/f08815db66.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="area">
            

            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a class="project-buttons" href="../projects.html"><span>Back to Projects</span></a>
            <h1 class="blog-container">Recycling Corporation</h1>

            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="../../project_pictures/Recycling-mysql.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="../../project_pictures/recycling_app.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="../../project_pictures/recycling_server.png" style="width:100%">
                </div>
                
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                </div>
                <br>
                
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                </div>

                <div class="desc-container">
                    <div class="block">
                        <h2 class="block-header">Objective:</h2>
                        <p class="block-para">The project is meant to establish a connection with the MySQL database and a React application. Creates a type of "to-do" list where you can add recycled items, edit those items, or delete them. </p>
                    </div>

                    <div class="block">
                        <h2 class="block-header">What I Learned:</h2>
                        <p class="block-para">Establishing a connection with MySQL was very similar to MongoDB but with different libraries. The queries can be slightly difficults when ensuring variables using template literals are working properly. Helped me gain an understanding of how to use MySQL as a database for a front-end application.</p>
                    </div>

                    <div class="block">
                        <h2 class="block-header">Hashtags:</h2>
                        <p class="block-para">JavaScript, React, Express, MySQL, CORS</p>
                    </div>

                    <div class="block">
                        <h2 class="block-header">Github Repo:</h2>
                        <p class="block-para"><a class="buttons" href="https://github.com/krosentrater/FSW-140/tree/main/Week%207-8" target="new"><span>Link <i class="fa-brands fa-github"></i></span></a></p>
                    </div>
                </div>



            <script>
                let slideIndex = 1;
                showSlides(slideIndex);
                
                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }
                
                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }
                
                function showSlides(n) {
                    let i;
                    let slides = document.getElementsByClassName("mySlides");
                    let dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {slideIndex = 1}    
                    if (n < 1) {slideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                    }
                    for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                }
                </script>
        </div>
    </body>
    <!-- &#10094; &#10095;-->
</html>