.blog-container {
    color: #f1f1f1;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 64px;
    padding-bottom: 25px;
}

* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #4e54c8;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.buttons {
    padding: 10px 24px 10px 24px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    display: inline-block; 
}

.buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    transition: all 0.5s;
}

.buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttons:hover span {
    padding-right: 25px;
    color: white;
}

.buttons:hover span:after {
    opacity: 1;
    right: 0;
}

.buttons:hover {
    background-color: #383f51;
    color: white;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.desc-container {
    color: #f1f1f1;
    padding: 50px;
}

.block-header {
    font-size: 32px;
}

.block-para {
    padding: 25px;
    font-size: 20px;
}

.repo-link {
    text-decoration: none;
    color: #f1f1f1;
    padding: 25px;
}

.repo-link:hover {
    color: black;
}

body{
    font-family: 'Exo', sans-serif;
}