<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Contact</title>
        <meta name='viewport' content='device-width' initial-scale='1.0' />
        <link rel="stylesheet" href="../static/home.css" />
        <script src="https://kit.fontawesome.com/f08815db66.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="area">
            <nav>
                <div class="sidebar" id="mySidebar">
                    <a href="../home.html">Home</a>
                    <a href="./projects.html">Projects</a>
                    <a href="./about.html">About</a>
                    <a href="./contact.html">Contact</a>
                    <div class="social-media">
                        <a href='https://github.com/krosentrater' target="new"><i class="fa-brands fa-github"></i></a>
                        <a href='https://www.linkedin.com/in/krosentrater/' target="new"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </nav>

            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>         

            <div class="intro">
                <h1 class="headline">To contact me, you can reach out <br> via e-mail or LinkedIn:</h1><br>
                <a class="buttons" href="mailto:kyle.rosentrater@gmail.com"><span>Email <i class="fa-regular fa-envelope"></i></span></a>
                <a class="buttons" href='https://www.linkedin.com/in/krosentrater/' target="new"><span>LinkedIn <i class="fa-brands fa-linkedin"></i></span></a>
            </div>

        </div>
    </body>
</html>