<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Projects</title>
        <meta name='viewport' content='device-width' initial-scale='1.0' />
        <link rel="stylesheet" href="../static/projects.css" />
        <script src="https://kit.fontawesome.com/f08815db66.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="area">
            <nav>
                <div class="sidebar" id="mySidebar">
                    <a href="../home.html">Home</a>
                    <a href="./projects.html">Projects</a>
                    <a href="./about.html">About</a>
                    <a href="./contact.html">Contact</a>
                    <div class="social-media">
                        <a href='https://github.com/krosentrater' target="new"><i class="fa-brands fa-github"></i></a>
                        <a href='https://www.linkedin.com/in/krosentrater/' target="new"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </nav>

            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <h1 class="projects-header">Projects</h1>
            <div class="projects-container">
                <div class="project">
                    <h1 class="project-heading">Recycling Corp</h1>
                    <img class="project-image" src="../project_pictures/Recycling-mysql.png">
                    <p class="project-desc">Created a connection between MySQL and React App for preforming queries.</p>
                    <a class='project-buttons' href="../templates/project-templates/recyclingcorp.html"><span>More Details</span></a>
                </div>
                <div class="project">
                    <h1 class="project-heading">Blog</h1>
                    <img class="project-image" src="../project_pictures/blog_mongodb.png">
                    <p class="project-desc">Created basic blog that connects to MongoDB to create users, check authentication, and more.</p>
                    <a class='project-buttons' href="../templates/project-templates/blog.html"><span>More Details</span></a>
                </div>
                <div class="project">
                    <h1 class="project-heading">Surf &amp; Turf</h1>
                    <img class="project-image" src="../project_pictures/surf_turf.png">
                    <p class="project-desc">E-commerce tourist website based in San Diego with Python, Django, and bootstrap.</p>
                    <a class='project-buttons' href="../templates/project-templates/surfturf.html"><span>More Details</span></a>
                </div>

                <div class="project">
                    <h1 class="project-heading">Trivia Game</h1>
                    <img class="project-image" src="../project_pictures/flask_trivia.png">
                    <p class="project-desc">Flask project with API call to create computer science trivia game.</p>
                    <a class='project-buttons' href="../templates/project-templates/triviagame.html"><span>More Details</span></a>
                </div>
            </div>
        </div>
    </body>
</html>